<!doctype html>
    <html lang="en">

    <head>
        <title>Crear elemento</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <header id="header">
            <!-- place navbar here -->
        </header>
        <main>
            <div class="container" id="app">
                <form class="edicion-elemento">
                    <h2>Editar Producto </h2>
                    <p>Precio:{{precio}}</p>
                    <div class="mb-3">
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id" disabled v-model="id">
                    </div>
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" v-model="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" v-model="precio">
                    </div>
                    <div class="mb-3">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" id="stock" v-model="stock">
                    </div>
                    <div class="mb-3">
                        <label for="imagen">Imagen</label>
                        <input type="text" name="imagen" id="imagen" v-model="imagen">
                        <img width="100" :src="'img/' + imagen" alt="">
                    </div>
                    <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
                </form>
            </div>
        </main>
        <footer id="footer-index" class="footer">
            <custom-footer></custom-footer>
        </footer>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/elem-edit.js"></script>
    </body>