/* ELEMENTOS UNIVERSALES, FUENTES, COLORES */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');


:root {
	--col-pri: #FFF;

	--col-sec-cl: #98c0d6;
	--col-sec-md: #0075B2;
	--col-sec-os: #003451;

	--col-ter-cl: #e9afb1;
	--col-ter-md: #C1272D;
	--col-ter-os: #551416;

	--col-lig: #dfdfdf;
	--col-ace: #8d8d8d;
	--col-txt: #000;
}

/* Tipos */
body {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	outline: 0;
	background-color: transparent;
}

button {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	outline: 0;
}

a {
	color: var(--col-sec-md);
	text-decoration: none;
}

a:active {
	color: var(--col-ace-md);
}

a:hover {
	color: var(--col-ter-md);
}

div p {
	display: block;
	margin: 50px;
	text-align: center;

}