@import "sitewrap.css";

#titulo-accion {
	background-color: var(--col-pri);
	position: sticky;
	top: 0;
}

.bot-princ {
	height: 38px;
	background-color: var(--col-sec-md);
	border: none;
	color: var(--col-pri);
	padding: 0 1em;
	margin: 0 1em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
}

.bot-princ:hover {
	background-color: var(--col-sec-cl);
	color: var(--col-txt);
}

#formularioBusqueda {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	color: var(--col-pri);
	margin: 2em;
	transition-duration: 0.4s;
}

.form-control {
	outline: none;
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--col-txt);
	background-color: var(--col-pri);
	background-clip: padding-box;
	border: 1px solid var(--col-lig);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
	border: 1px solid var(--col-sec-md);
}

.r1::after {
	content: "";
	display: table;
	clear: both;
  }

.searcher {
	height: 38px;
	background-color: var(--col-sec-md);
	border: none;
	color: var(--col-pri);
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
}

.searcher:hover {
	background-color: var(--col-sec-cl);
	color: var(--col-txt);
}

.main-table {
	border-collapse: collapse;
	width: 100%;
}

.main-table td,
.main-table th {
	border: 1px solid var(--col-pri);
	padding: 8px;
	text-align: center;
	border: 1px solid var(--col-pri);
}


.main-table tr:nth-child(even) {
	background-color: var(--col-lig);
}

.main-table tr {
	transition-duration: 0.4s;
}


.main-table tr:hover {
	background-color: var(--col-ace);
}

.main-table tr.borrar {
	background-color: var(--col-ter-cl);
}

.main-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--col-sec-cl);
	color: var(--col-pri);
	padding: 8px;
}

.main-table td {
	padding: 0px;
}

.table-inner {
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.table-inner td,
.table-inner th {
	border: none;
	padding: 8px;
}

.table-inner th {
	background-color: rgba(0, 0, 0, 0);
	text-align: right;
	color: var(--col-txt);
}

.table-inner td {
	text-align: left;
}

.table-inner tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0);
}


.action-container {
	height: 100%;
    width: 100%;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: center;
}

.action-container .bot-sec {
	background-color: var(--col-sec-md);
	color: var(--col-pri);
	padding: .4em;
	margin: .1em;
	flex: 1 1 auto;
	transition-duration: 0.4s;
}

.bot-sec:hover {
	background-color: var(--col-sec-cl);
	color: var(--col-txt);
}

.action-container .searcher {
	flex: 1 1 auto;
	background-color: var(--col-sec-md);
	border: none;
	color: var(--col-pri);
	padding: .4em;
	margin: .1em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
}

.action-container .searcher:hover {
	background-color: var(--col-sec-cl);
	color: var(--col-txt);
}

.action-container .killer {
	flex: 1 1 auto;
	background-color: var(--col-ter-md);
	border: none;
	color: var(--col-pri);
	padding: .4em;
	margin: .1em;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
}

.action-container .killer:hover {
	background-color: var(--col-ter-cl);
	color: var(--col-txt);
}